body {
  margin: 0px;
  background-color: black;
  overflow: hidden;
  cursor: default;
}
@font-face {
  font-family: bebas;
  src: url(BebasNeue-Regular.ttf);
}
#coverScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, #ff0018, #ff00ff);
  opacity: 0.5;
}
#interactionGate {
  position: absolute;
  height: 100%;
  width: 100%;
}
h1 {
  font-family: bebas;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 25vw;
}
#soundOn {
  top: calc(50% - 14vw);
  animation-name: fadeSwap;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
@keyframes fadeSwap {
  0% {opacity: 0.25;}
  50% {opacity: 1;}
  100% {opacity: 0.25;}
}
@keyframes fade {
  0% {opacity: 0.25;}
  100% {opacity: 1;}
}
